* {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body {
    background-color: #fbfeb2;
}
section {
    text-align: center;
    gap: 50px;
    height: 100vh;
    width: 50%;
    margin-inline: auto;
    color: #004a25;
    margin-top: 50px;
    margin-bottom: 50px;
}
section img {
    height: 40%;
    width: auto;
}
hr {
    margin-top: 30px;
    margin-bottom: 30px;
}
button {
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #004a25;
}
a {
    font-size: 20px;
    color: #fbfeb2;
}